.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #1551b0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #0c3e80;
  font-size: 8rem;
  color: #13825d;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}
.btn {
  margin: 20px;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  font-family: "Indie Flower", cursive;

  font-size: 30px;
}
